.header{
    background-color: #151a1f;
    padding: 12px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    
}
.header h1{
    margin: 0;
}
.no-underline {
        text-decoration: none;
        color: inherit; /* Optional: to inherit the parent's color */
      }
      
      .no-underline:hover {
        text-decoration: none;
        color:#ff5722 /* Ensures no underline on hover */
      }
      


.logout-button{
    background-color: #ff5722;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius:10px ;
}